body {
    overflow: hidden;
}

#map {
    height: 900px;
    width: 100%;
}

.icon {
    display: block;
    width: 25px;
    height: 25px;
    left: -10px;
    top: -1rem;
    border-radius: 15px 15px 0px 15px;
    position: relative;
    transform: rotate(45deg);
    /* Shadow */
    box-shadow: 2px 0px 1px rgb(104, 104, 104);
}

.icon::after{
    content: "" ;
    width: 12.5px ;
    height: 12.5px ;
    position: absolute ;
    left: 26% ;
    top: 26% ;
    border-radius: 30px ;
}

@media screen and (max-width: 600px) {
    #map {
        height: 100vh;
        width: 100%;
    }

    body {
        overflow-y: auto;
    }
}